<div class="grid-container">
    <div class="grid-item">
        <img src="assets\categories\gameboyadvance.jpg" alt="gameboy advance">
    </div>
    <div class="grid-item">
        <img src="assets\categories\nintendo64.jpg" alt="gameboy advance">
    </div>
    <div class="grid-item">
        <img src="assets\categories\gameboyadvance.jpg" alt="gameboy advance">
    </div>    
    <div class="grid-item">
        <img src="assets\categories\gameboyadvance.jpg" alt="gameboy advance">
    </div>
    <div class="grid-item">
        <img src="assets\categories\nintendo64.jpg" alt="gameboy advance">
    </div>
    <div class="grid-item">
        <img src="assets\categories\gameboyadvance.jpg" alt="gameboy advance">
    </div>
  </div>